# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Mads-\Documents\Universitet\6. Semester\CS4787 Principles of Large Scale Machine Learning Systems\cs4787\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
